

		 <table id="table" class="table table-condensed table-hover table-bordered table-responsive">
		 	<thead>
		 		<th>CIUDAD</th>
		 		<th>VER</th>
		 	</thead>
		 	<tbody>
		 		{% for proceso in procesos  %}		 	
		 			<tr>
		 				<td>{{proceso.ciudad}}</td>
		 				<td><a  class="btn btn-success" href="views/usuarios.php?id={{result.id_proceso}}">Ver</a></td>
					 </tr>										
		 		{% endfor %}
		 	</tbody>
		 </table>