


	<div class="col-md-12">
	<form  class="navbar-form" id="form-create-dueno" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-id-badge"></i></span>
                            <input type="hidden" name="dueno">
                            <input type="text" class="form-control" id="dueno" data-toggle="modal" data-target="#modal-dueno">                                    
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="porcentaje"  placeholder="Porcentaje">
                            <span class="input-group-addon">%</span>
                        </div>
                        <button type="submit" class="btn btn-primary" id="storeParticipantePredio">Relacionar Dueño</button>
      </form>
		<table id="table-duenos" class="table table-condensed table-hover table-bordered table-responsive">
		 	<thead>
		 		<th>DUEÑO</th>
		 		<th>PORCENTAJE</th>
		 	</thead>
		 	<tbody>
		 		{% for dueno in duenos  %}		 	
		 			<tr>
		 				<td>{{dueno.nom_datos}}</td>
		 				<td>{{dueno.porcentaje}}%</td>
					 </tr>										
		 		{% endfor %}
		 	</tbody>
		 </table>
	</div>



		 <!-- Modal -->
	<div class="modal fade" id="modal-dueno" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Dueños del Predio</h4>
	      </div>
	      <div class="modal-body">
	        <!--  formulario de participantes -->
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>


	 <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
   $(' #dueno').click(function(){ cargarFormParticipantes(); });
    $('#storeParticipantePredio').click(function(){  storeParticipantePredio({{id}}); });
    $('.editPredio').click(function(){ var id = $(this).attr('id'); cargarEditPredio(id); });
    $('.agregarPropietario').click(function(){ var id = $(this).attr('id'); agregarPropietarioPredio(id); });

    </script>