


	<div class="col-md-12">
	<form  class="navbar-form" id="form-create-dueno" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-id-badge"></i></span>
                            <input type="hidden" name="dueno">
                            <input type="text" class="form-control" id="dueno" data-toggle="modal" data-target="#modal-dueno">
                                                
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="porcentaje"  placeholder="Porcentaje">
                            <span class="input-group-addon">%</span>
                        </div>
                        <button type="submit" class="btn btn-primary" id="storeParticipantePredio">Relacionar Dueño</button>
                        <button type="submit" class="btn btn-primary" id="storeParticipantePredioProceso">Relacionar Dueño</button>
      </form>
      {% if cuadro == 0  %}
      	<h2 class="text-center">NO TIENE RELACIONADO DUEÑOS EL PREDIO</h2>
      {% elseif cuadro == 1 %}
		<table id="table-duenos" class="table table-condensed table-hover table-bordered table-responsive">
		 	<thead>
		 		<th>DUEÑO</th>
		 		<th>PORCENTAJE</th>
		 	</thead>
		 	<tbody>
		 		{% for dueno in duenos  %}		 	
		 			<tr>
		 				<td>{{dueno.nom_datos}}</td>
		 				<td>{{dueno.porcentaje}}%</td>
					 </tr>										
		 		{% endfor %}
		 	</tbody>
		 </table>
	 {% endif %}
	</div>


		

	 <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $('#relacionar').click(function(){ relacionar();});
    $('#relacionar2').click(function(){ storeParticipanteProceso(); });
   	$('#dueno').click(function(){ cargarFormParticipantes(); });
    $('#storeParticipantePredio').click(function(event){event.preventDefault();  storeParticipantePredio({{id}}); });
    $('#storeParticipantePredioProceso').click(function(event){event.preventDefault();  storeParticipantePredioProceso({{id}}); });
    $('.editPredio').click(function(){ var id = $(this).attr('id'); cargarEditPredio(id); });
    $('.agregarPropietario').click(function(){ var id = $(this).attr('id'); agregarPropietarioPredio(id); });

    </script>